<header>
      <nav class="navbar">
        <div class="logo">
            <img src="https://cdn-icons-png.flaticon.com/128/15911/15911365.png" alt="Logo">
        </div>
        <ul class="social-icons">
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/128/1384/1384879.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="https://cdn-icons-png.flaticon.com/128/3256/3256013.png" alt="Twitter"></a></li>
            <li><a href="" ><img src="https://cdn-icons-png.flaticon.com/128/11378/11378776.png" alt="google"></a></li>
            <li><a routerLink="/contact"><img src="https://cdn-icons-png.flaticon.com/128/10333/10333841.png" alt="email"></a></li>
          
            
        </ul>
    </nav>
</header>
