body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 30px;
    margin: -8px;
    background-color: #333;
}


.social-icons {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social-icons li {
    margin-left: 80px;
}

.social-icons li a img {
    height: 30px;
}

.social-icons li a {
    display: block;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}
 hr{
    width: 100%;
 }