.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
     margin: -8px;
}

.footer p {
    margin: 0;
    font-size: 14px;
}