<section class="presentation">
    <div class="center">
<h1>L'ECOLE DU NUMERIQUE ET DES POTENTIELS</h1>
<h2>Transformez vos codes avec Human Booster,
    l'école nouvelle génération
</h2>
<button>Nos Programmes</button>
</div>
<div class="container">
        <div class="content">
            <h1>HUMAN BOOSTER, UNE HISTOIRE D'INGÉNIERIE</h1>
            <p>En 2007, Human Booster naît avec une ambition forte : Toute entreprise, même la plus petite, doit pouvoir bénéficier d'accompagnements personnalisés lui permettant de pérenniser et développer son activité.</p>
            <p>Depuis la création, nous restons fidèles à notre aspiration première, accompagner toute structure ayant la volonté d'évoluer et de sauter le pas.</p>
            <p>Nous exerçons et développons notre activité en ingénierie de la compétence autour de deux grands axes : ingénierie de l'innovation (conseil en management, accompagnement à la transition digitale, innovation pédagogique...), ingénierie de la performance (édition logicielle, aide au choix, innovation managériale).</p>
        </div>
        <div class="image">
            <img src="https://media.istockphoto.com/id/1368965646/fr/photo/des-gars-et-des-filles-multiethniques-prenant-des-selfies-%C3%A0-lext%C3%A9rieur-avec-r%C3%A9tro-%C3%A9clairage.jpg?s=612x612&w=0&k=20&c=l25CMmBz_0ZjdrwvqcOVrVva0FAlFBZRszxvDEaqJEE=" alt="People having fun">
        </div>
       
    </div>
     <div class="cta">
            <button>EXAMINEZ NOS SOLUTIONS SUR MESURE</button>
        </div>
</section>
