<section class="course">
  <div class="card-container">
    <div class="card" *ngFor="let course of courses" [ngSwitch]="course.nom">
      <div *ngSwitchCase="'cybersecurity'" class="background-dev">
        <img src="{{ course.image }}" alt="" />
        <h3>{{ course.nom }}</h3>
        <p>{{ course.stackTechnique }}</p>
        <p>{{ course.dates }}</p>
        <p>{{ course.titre }}</p>
        <p>{{ course.numbreDePlace }} places</p>
        <p>{{ course.tarif }} €</p>
      </div>
         <div *ngSwitchCase="'infrastructure'" class="background-infra">
        <img src="{{ course.image }}" alt="" />
        <h3>{{ course.nom }}</h3>
        <p>{{ course.stackTechnique }}</p>
        <p>{{ course.dates }}</p>
        <p>{{ course.titre }}</p>
        <p>{{ course.numbreDePlace }} places</p>
        <p>{{ course.tarif }} €</p>
      </div>
          <div *ngSwitchCase="'Devops'" class="background-devops">
        <img src="{{ course.image }}" alt="" />
        <h3>{{ course.nom }}</h3>
        <p>{{ course.stackTechnique }}</p>
        <p>{{ course.dates }}</p>
        <p>{{ course.titre }}</p>
        <p>{{ course.numbreDePlace }} places</p>
        <p>{{ course.tarif }} €</p>
      </div>
          <div *ngSwitchCase="'Data science'" class="background-dataS">
        <img src="{{ course.image }}" alt="" />
        <h3>{{ course.nom }}</h3>
        <p>{{ course.stackTechnique }}</p>
        <p>{{ course.dates }}</p>
        <p>{{ course.titre }}</p>
        <p>{{ course.numbreDePlace }} places</p>
        <p>{{ course.tarif }} €</p>
      </div>
      <div *ngSwitchDefault>default</div>

      <button type="button" (click)="lieu(course.adresse)">lieu</button>

      <!-- <a routerLink="/inscription">S'inscrire</a> -->
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        inscription
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Modal title
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <app-registration-form></app-registration-form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="saveChanges()"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
